#container {
	display: grid;
	grid-template-columns: 250px 500px 500px;
	grid-template-rows: 250px 500px;
	grid-column-gap: 30px;
	grid-template-areas:
		'header header header'
		'ships humanBoard computerBoard';

	align-items: baseline;
}

#ships {
	height: 400px;
	width: 250px;
	padding-top: 30px;
	border: 1px black solid;
}

.board {
	display: grid;
	height: 500px;
	width: 500px;
	grid-template-columns: repeat(11, 45px);
	grid-template-rows: repeat(11, 45px);
	grid-gap: 1;
}

.board > div {
	border: 1px black solid;
}

.label {
	border: none !important;
}

.row-label {
	align-self: end;
	justify-self: center;
	padding-bottom: 5px;
}

.column-label {
	justify-self: end;
	align-self: center;
	padding-right: 5px;
}

#humanBoard .board {
	grid-area: humanBoard;
}

#computerBoard .board {
	grid-area: computerBoard;
}

.ship {
	background-color: pink;
	grid-gap: 0px;
	border: 1px rgb(180, 139, 146) !important;
}

.hit {
	background-color: red !important;
}

.miss {
	background-color: gray !important;
}
